.footer-style{
    text-decoration-style: none;
    list-style-type: none;
    text-decoration: none;
    color:#d3e0ea;
    bottom:0;
  }
  .footer-padding{
    padding: 20px 10px;
  }
  .text-footer{
    font-family: 'Poppins', sans-serif;
      font-weight:bold;
      color:gray;
      font-size:.9rem;
      padding-bottom: 10px
  }
  .text-footer-sub{
    font-family: 'Poppins', sans-serif;
    color:#d3e0ea;
    font-size:.9rem;
    padding: 5px 0px;
  }
  .text-footer-sub i{
    padding-right: 10px
  }
  .text-footer-sub a{
    text-decoration-style: none;
    list-style-type: none;
    text-decoration: none;
    color:#d3e0ea;
  
  }
  .text-footer-sub a:hover{
    color:white;
  }