@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
  }
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color:black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.text-color{
    color: white;
    transition:.3s;
}
 .change-color:hover{
  color:black !important;
}
.menu-list li a:hover{
  color: #007bff;
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}
/* navigation End */

/* 3d slider */
.d-slider{
 
    width:20%;
    min-width: 200px;
    height:200px;
    transform-style: preserve-3d;
    animation:rotate 30s linear infinite;
   
}
@keyframes rotate {
    0%{
        transform:perspective(1000px) rotateY(0deg);
    }   
    100%{
        transform:perspective(1000px) rotateY(360deg);
    } 
}
.d-slider span{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transform-origin:center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(400px);
}
.d-slider span img{
  
    top:0;
    left:0;
    width: 100%;
    height:100%;
    border-radius: 10px;
    object-fit: cover;
    transition:.5s;

}
.d-slider span:hover img{
    transform: translateY(-50px) scale(1.2);

}

/* paralax */
.parallax {
    /* The image used */
    background-image: url("photos/city.jpg");
    /* Set a specific height */
    min-height: 600px;
    width: 100%;
    margin: 0;
    padding: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .text-slogan{
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    padding-top: 300px;
    color:white;
    text-shadow: 20px 20px 70px rgba(150, 150, 150, 0.54);
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://media0.giphy.com/media/3o7aDbzZnLjVrW9YXe/giphy.gif?cid=790b7611791d0b873e57702b30a01e5672a208699e3a9af9&rid=giphy.gif&ct=g);
    background-size: cover;
  
  }

  /* product */

  